@model LibraryManagementSystem.ViewModel.ProductViewModel

@{
    Layout = "~/Views/Shared/_AdminPage.cshtml";
    ViewData["Title"] = Model.Product.ProductId == 0 ? "Add Product" : "Edit Product";
}

<div class="card shadow-sm border-0 rounded-3 mt-4">
    <div class="card-header bg-primary text-white">
        <h4 class="my-2">@ViewData["Title"]</h4>
    </div>

    <div class="card-body">
       
        <form asp-action="Upsert" enctype="multipart/form-data" method="post">
            <input type="hidden" asp-for="Product.ProductId" />

            <div class="mb-3">
                <label asp-for="Product.ProductName" class="form-label"></label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Product.Description" class="form-label"></label>
                <textarea asp-for="Product.Description" class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <label asp-for="Product.ProductISBN" class="form-label"></label>
                <input asp-for="Product.ProductISBN" class="form-control" />
                <span asp-validation-for="Product.ProductISBN" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Product.ProductAuthor" class="form-label"></label>
                <input asp-for="Product.ProductAuthor" class="form-control" />
                <span asp-validation-for="Product.ProductAuthor" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Product.ProductPrice" class="form-label"></label>
                <input asp-for="Product.ProductPrice" class="form-control" />
                <span asp-validation-for="Product.ProductPrice" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.ProductQuantity" class="form-label"></label>
                <input asp-for="Product.ProductQuantity" class="form-control" type="number" min="0" step="1" />
                <span asp-validation-for="Product.ProductQuantity" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.CategoryId" class="form-label">Category</label>
                <select asp-for="Product.CategoryId" asp-items="Model.CategoryList" class="form-select">
                    <option disabled selected value="0">-- Select Category --</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Product Image</label>
                <input type="file" name="file" class="form-control" />

                @if (!string.IsNullOrEmpty(Model.Product.ProductImage))
                {
                    <div class="mt-2">
                        <label>Current Image:</label><br />
                        <img src="@Model.Product.ProductImage"
                             style="width: 22%;height:210px;border-radius:5px; border: 1px solid #bbb9b9" />
                    </div>
                }
            </div>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
}
